.ModalOverlap {
  position: fixed;
  z-index: var(--modal-z-index);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
}

.Modal {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-bg-color);
  padding: 24px 18px 48px 18px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
