.Shimmer {
  animation: shimmer-animation 3s infinite linear;
  background: linear-gradient(
    to right,
    var(--secondary-bg-color) 4%,
    var(--hint-color) 25%,
    var(--secondary-bg-color) 36%
  );
  background-size: 1000px 100%;
  border-radius: var(--border-radius);
}

@keyframes shimmer-animation {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
