.Select {
  position: relative;

  &_disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.SelectButton {
  height: 36px;
  border-radius: var(--border-radius);
  border: 1px solid var(--hint-color);
  position: relative;
  padding: 0 12px;
  display: flex;
  align-items: center;
}

.SelectButton__Label {
  color: var(--hint-color);
}

.SelectButton__Value {
  display: block;
  margin-left: 12px;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  transition: font-size 0.3s ease, top 0.3s ease, transform 0.3s ease;
}

.SelectButton_isOpen {
  .SelectButton__Indicator svg {
    transform: rotate(-180deg);
  }
}

.SelectButton_hasValue,
.SelectButton_isOpen {
  .SelectButton__Label {
    border-right: 1px solid var(--hint-color);
    padding-right: 8px;
  }
}

.SelectButton_hasValue.SelectButton_isOpen {
  .SelectButton__Value {
    font-size: var(--font-size-small);
    top: 3px;
    transform: translateY(0);
  }
}

.SelectButton__Indicator {
  color: var(--hint-color);
  padding-left: 12px;
  padding-right: 4px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 12px;
    height: 12px;
    transition: transform 0.3s ease;
  }
}

.SelectButton__Search {
  background-color: transparent;
  border: none;
  margin-left: 12px;
  color: var(--text-color);
  outline: none;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-45%);
  font-size: 14px;

  &::placeholder {
    color: var(--hint-color);
  }
}

.SelectButton_hasValue.SelectButton_isOpen .SelectButton__Search {
  transform: translateY(-10%);
}

.SelectOptions {
  position: absolute;
  top: 80%;
  border-radius: var(--border-radius);
  border: 1px solid var(--hint-color);
  backdrop-filter: blur(5px);
  background-color: rgba(25, 33, 44, 0.3);
  z-index: 1;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
  overflow-y: scroll;

  &_isOpen {
    top: calc(100% + 12px);
    opacity: 1;
    visibility: visible;
    transition: top 0.3s ease, opacity 0.3s ease;
  }
}

.SelectOptions__Item {
  padding: 8px 12px;
  border-bottom: 1px solid var(--hint-color);

  &:last-child {
    border-bottom: none;
  }

  &_isActive {
    text-decoration: underline;
  }

  &_notFound {
    color: var(--hint-color);
    text-align: center;
  }
}
