.Navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  backdrop-filter: blur(5px);
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--header-z-index);
}
