.DefaultLayout {
  position: relative;
  height: var(--viewport-stable-height);
  transition: height 0.1s linear;
  max-width: 480px;
  margin: 0 auto;
}

.DefaultLayout__Menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
