.Button {
  position: relative;
  color: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;

  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;

  svg {
    transition-property: fill;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }
}

.Button_variant_default {
  border-radius: var(--border-radius);
}

.Button_size_small {
  height: 26px;
  padding: 0 10px;
  font-size: var(--font-size-small);

  svg {
    width: 14px;
    height: 14px;
  }
}

.Button_size_medium {
  height: 36px;
  padding: 0 12px;
  font-size: var(--font-size-medium);

  svg {
    width: 18px;
    height: 18px;
  }
}

.Button_size_large {
  height: 48px;
  padding: 0 24px;
  font-size: var(--font-size-large);

  svg {
    width: 24px;
    height: 24px;
  }
}

.Button_color_primary {
  background-color: var(--button-color);
  color: var(--button-text-color);
}

.Button_color_second {
  background-color: var(--secondary-bg-color);
  color: var(--button-text-color);
}

.Button_color_transparent {
  background-color: transparent;
  color: var(--link-color);
}

.Button_isActive.Button_color_second {
  background-color: var(--button-color);
}

.Button_iconOnly {
  border-radius: 100px;
}

.Button_iconOnly.Button_size_small {
  width: 26px;
  padding: 0;
}

.Button_iconOnly.Button_size_medium {
  width: 36px;
  padding: 0;
}

.Button_iconOnly.Button_size_large {
  width: 48px;
  padding: 0;
}
