.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap-xxs {
  gap: 4px;
}

.gap-xs {
  gap: 6px;
}

.gap-s {
  gap: 8px;
}

.gap-m {
  gap: 12px;
}

.gap-l {
  gap: 16px;
}

.gap-xl {
  gap: 24px;
}

.align-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.rel {
  position: relative;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}
