@import 'normalize.css';
@import './vars.scss';
@import './classes.scss';

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--primary-font);
}

a {
  color: var(--link-color);
}

@keyframes rotate {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
