:root {
  --bg-color: var(--tg-theme-bg-color);
  --secondary-bg-color: var(--tg-theme-secondary-bg-color);
  --text-color: var(--tg-theme-text-color);
  --hint-color: var(--tg-theme-hint-color);
  --link-color: var(--th-theme-link-color);
  --button-color: var(--tg-theme-button-color);
  --button-text-color: var(--tg-theme-button-text-color);
}
