.Input {
  position: relative;
}

.Input_disabled {
  opacity: 0.7;
}

.Input input {
  width: calc(100% - 24px);
  height: 36px;
  border-radius: var(--border-radius);
  border: none;
  outline: none;
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  font-size: var(--font-size-medium);
  padding: 0 12px;
}

.Input__Label {
  position: absolute;
  font-size: var(--font-size-medium);
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: font-size 0.3s ease, top 0.3s ease;
  cursor: pointer;
}

.Input:focus-within .Input__Label {
  top: -30%;
  font-size: var(--font-size-small);
}

.Input input:not(:placeholder-shown) + .Input__Label {
  top: -30%;
  font-size: var(--font-size-small);
}

.Input__Error {
  bottom: 0;
  transform: translateY(100%);
  left: 12px;
  padding: 0 12px;
}
