.Input {
  position: relative;
  transition: opacity 0.3s ease;
  border-radius: var(--border-radius);
  border: 1px solid var(--hint-color);
  height: 36px;
  padding: 0 12px;
  display: flex;
  align-items: center;
}

.Input_disabled {
  opacity: 0.7;
}

.Input input {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--text-color);
  margin-left: 12px;
}

.Input__Label {
  color: var(--hint-color);
  padding-right: 8px;
}

.Input:focus-within .Input__Label {
  border-right: 1px solid var(--hint-color);
}

.Input_hasValue .Input__Label {
  border-right: 1px solid var(--hint-color);
}

.Input__Error {
  padding: 0 12px;
}
