.AccountCard {
  position: relative;
  border-radius: var(--border-radius);
  border: 1px solid var(--hint-color);
  height: 46px;
  display: flex;
  width: 100%;
}

.AccountCard_settingsIsShown .AccountCard__Info {
  flex-basis: calc(100% - 100px);
}

.AccountCard__Info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  flex-basis: 100%;
  transition: flex-basis 0.3s ease;

  svg {
    color: var(--hint-color);
  }
}

.AccountCard__Settings {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-basis: 0;
  opacity: 0;
  transition: flex-basis 0.3s ease, opacity 0.3s ease;

  &_shown {
    flex-basis: 100px;
    opacity: 1;
  }
}

.AccountCard__Settings__Button {
  height: 100%;
  background-color: transparent;
  border: none;
  border-left: 1px solid var(--hint-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;

  svg {
    width: 20px;
    height: 20px;
  }

  &:first-child {
    color: var(--button-color);
  }

  &:last-child {
    color: var(--red);
  }
}
